<div class="row">
  <div class="col-sm-12">
   <!--  <h5>Créer un nouvel utilisateur</h5> -->
    <hr />
    <form (ngSubmit)="onSubmit()">
      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name"
              placeholder="Enter full name" required />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email"
              aria-describedby="emailHelp" placeholder="Enter email" required />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password"
              placeholder="Password" required />
          </div>
          <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" id="role" [(ngModel)]="user.role" name="role" required>
              <option value="" disabled selected>Select a role</option>
              <option *ngFor="let role of roles" [value]="role._id">
                {{ role.name }}
              </option>
            </select>
          </div>
        </div>

        
        <!-- Champs conditionnels si rôle = employee -->
        <div class="row mt-3" *ngIf="isEmployee()">
          <div class="col-md-6">
            <div class="form-group">
              <label for="poste">Poste</label>
              <input
                type="text"
                class="form-control"
                id="poste"
                [(ngModel)]="user.poste"
                name="poste"
                placeholder="Enter poste"
                required
              />
            </div>

            <div class="form-group mt-3">
              <label for="date">Date d'embauche</label>
              <input
                type="date"
                class="form-control"
                id="date"
                [(ngModel)]="user.date"
                name="date"
                required
              />
            </div>
          </div>
        </div>

      </div>


      <div class="row mt-3">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Ajouter user</button>
        </div>
      </div>
    </form>
  </div>
</div>