<div class="row">
    <div class="col-sm-12">
        <app-card [cardTitle]="isEditMode ? 'Update Role' : 'Create Role'" [options]="false">
            <h5>{{ isEditMode ? 'Update' : 'Create' }} Role Form</h5>
            <hr />
            <form (ngSubmit)="onSubmit()">
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Nom</label>
                            <input type="text" class="form-control" id="nom" [(ngModel)]="stagaire.nom"
                                name="nom" placeholder="Enter nom" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Prenom</label>
                            <input type="text" class="form-control" id="prenom" [(ngModel)]="stagaire.prenom"
                                name="prenom" placeholder="Enter prenom" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Télephone</label>
                            <input type="text" class="form-control" id="tel" [(ngModel)]="stagaire.tel"
                                name="tel" placeholder="Enter tel" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Prenom</label>
                            <input type="text" class="form-control" id="adresse" [(ngModel)]="stagaire.adresse"
                                name="adresse" placeholder="Enter adresse" required />
                        </div>
                    </div>
                </div>



                <div class="row mt-3">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">
                            {{ isEditMode ? 'Update' : 'Create' }} Role
                        </button>
                    </div>
                </div>
            </form>
        </app-card>
    </div>
</div>