<div class="row">
  <div class="col-sm-12">
<!-- 
      <app-card cardTitle="Formulaire de création de demande" [options]="false"> -->
    <!-- <h5>Créer un nouvel demande</h5> -->
      <hr />
      <form (ngSubmit)="onSubmit()">
       
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">Code</label>
              <input type="text" class="form-control" id="code" [(ngModel)]="demande.code" name="code"
                placeholder="Enter code" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">Nom de demandeur</label>
              <input type="text" class="form-control" id="nom" [(ngModel)]="demande.nom" name="nom"
                placeholder="Enter nom" required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">Poste</label>
              <input type="text" class="form-control" id="poste" [(ngModel)]="demande.poste" name="poste"
                placeholder="Enter poste" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">Status</label>
              <input type="text" class="form-control" id="status" [(ngModel)]="demande.status" name="status"
                placeholder="Enter status" required />
            </div>
          </div>
        </div>


        <div class="row mt-3">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Ajouter Demande</button>
          </div>
        </div>
      </form>
    <!-- </app-card> -->
  </div>
</div>